#{if _booking}
<td class="active #{if (_stall.number > 16)}bottom#{/if}" style="background-color: #${Integer.toHexString(_categories.get(_stall.categoryid).colour)}">
#{/if}
#{elseif _stall.nextmaintenancedate.format('MMddyy').equals(_currentDate.format('MMddyy'))}
<td class="maintenance #{if (_stall.number > 16)}bottom#{/if}" style="border-color: #${Integer.toHexString(_categories.get(_stall.categoryid).colour)}">
#{/elseif}
#{else}
<td class=" #{if (_stall.number > 16)}bottom#{/if}" style="border-color: #${Integer.toHexString(_categories.get(_stall.categoryid).colour)}">
#{/else}
	<span class="number" style="color: #${Integer.toHexString(_categories.get(_stall.categoryid).colour)}">${_stall.number}</span>
	<span class="tooltip">
		<span></span><img class="close" src="@{'/public/images/close.png'}">
		<h3>Stall ${_stall.number}</h3>
		<h4>Category:</h4>
		#{if _booking}
		<select disabled="disabled">
			<option value="${_categories.get(_stall.categoryid).name}">${_categories.get(_stall.categoryid).name}</option>
		</select>
		#{/if}
		#{else}
		<select name="stall_category" class="categoryDropDown">
		#{list items:_categories, as:'category'}
			#{if category.value.id == _categories.get(_stall.categoryid).id}
			<option value="changeCategory/${_stall.id}/${category.value.id}" selected="selected"> ${category.value.name}</option>
			#{/if}
			#{else}
			<option value="changeCategory/${_stall.id}/${category.value.id}"> ${category.value.name}</option>			
			#{/else}
		#{/list}
		</select>
		#{/else}
		
		<a href="create_category">Add New Category</a>
		<hr />
		<h4>Status:</h4>
			#{if _booking}
				Booked by <strong>${_merchants.get(_booking.merchantid).name}</strong><br />
				until <strong>${_booking.enddate.format('MMMMM dd, yyyy')}</strong><br />
				<a href="@{Application.remove_booking(_booking.id,_currentDate.format('MMddyy'))}">Remove Booking</a><br />	
			#{/if}
			#{else}
				This stall is <strong>Open</strong><br />
				<a href="/add_booking/${_stall.number}/${_dateString}">Add New Booking</a><br />
			#{/else}
		<hr />
		<h4>Last Maintenance Date:</h4>
		${_stall.lastmaintenancedate.format('MMMMM dd, yyyy')}<br />
		<h4>Next Maintenance Date:</h4>
		#{datedropdown dates:_dates, selectDate:_stall.nextmaintenancedate.format('MMddyy'), url:"/changeMaintenanceDate/"+_stall.id /}
	
		<hr />
		<a href="@{Application.view_stall}/${_stall.number}">Go to Stall History</a><br />
		#{if _booking}
		<a href="#">Go to Current Vendor History</a>
		#{/if}
		</span>
	#{if _booking}
	<span class="name">${_merchants.get(_booking.merchantid).name}</span>
	#{/if}
</td>