#{extends 'main.html' /}
#{set title:'Stalls' /}
#{set overhidden:true /}

#{ifErrors}
	<div id="immediate" class="popup">
		<h2>Ruh roh!</h2>
		#{ifError 'merchantID'}
			<p>You are missing a valid merchant.</p>
		#{/ifError}
		#{ifError 'maintenance_date_conflict'}
			<p>This stall is booked for yearly maintenance on ${stall.maintenancedate.format('MMMMM dd, yyy')}.<br>
			Either return and change the date range or maintenance date<br>
			OR<br>
			pick a different stall for just this date by clicking <a href="@{Application.resolve_booking_conflict(stall.number,currentDate.format('MMMMM dd, yyyy'),endDate.format('MMMMM dd, yyyy'),merchant.id)}">here</a>
		#{/}
		#{ifError 'date_range_conflict'}
			<p>The dates range entered for the start and end date is not valid. </p>
		#{/ifError}
		<p>Please double check your form entry.</p>
	</div>
#{/ifErrors}
#{form @Application.create_booking(stallNumber,startDateString,endDateString,merchantID)}
<input type="hidden" name="stallNumber" value="${stall.number}"/>
<h2>Book Stall #${stall.number} (${cat.name})</h2>

<div class="half">

	<h4>Merchant</h4>
	<select name="merchantID">
		#{list items:selectableMerchants, as:'merchant'}
		<option value="${merchant.id}">${merchant.name}</option>
		#{/list}
	</select>
	<p><a href="#?w=500" rel="popup_name" class="poplight">Add New Merchant</a></p>

	<h4>Start Date</h4>
		<select name="startDateString">
			<option value="${currentDate.format('MMddyy')}">${currentDate.format('MMMMM dd, yyyy')}</option>
		</select>
		
	<h4>End Date</h4>
		<select name="endDateString">
			<option value="${endDate.format('MMddyy')}">${endDate.format('MMMMM dd, yyyy')}</option>
		</select>
	<hr />
	<h4>Last Maintenance Date</h4>
	Dec 18, 2010

	<h4>Next Maintenance Date</h4>
		<select disabled="disabled">
			<option value="">${stall.nextmaintenancedate.format('MMMMM dd, yyyy')}</option>
		</select>
	<p>	
	<input type="submit" value="Book Stall" />
	<p>
#{/form}
</div>
<div class="second half">

	<h4>Upcoming Bookings</h4>
	#{if futureBookings.isEmpty()}
	<p>None</p>
	#{/if}
	#{else}
	<table summary="Bookings">
    <thead>
    	<tr>
			<th scope="col">Vendor</th>
            <th scope="col">Start Date</th>
             <th scope="col">End Date</th>
       </tr>
    </thead>
    <tbody>
		#{list items:futureBookings, as:'booking'}
    	<tr>
			<td>${merchants.get(booking.merchantid).name}</td>
			<td>${booking.startdate.format('MMMMM dd, yyyy')}</td>
			<td>${booking.enddate.format('MMMMM dd, yyyy')}</td>
		</tr>
		#{/list}
	</tbody>
	</table>
	#{/else}
	<h4>Past Bookings</h4>
	#{if pastBookings.isEmpty()}
	<p>None</p>
	#{/if}
	#{else}
	<table summary="Bookings">
    <thead>
    	<tr>
			<th scope="col">Vendor</th>
            <th scope="col">Start Date</th>
             <th scope="col">End Date</th>
       </tr>
    </thead>
    <tbody>
		#{list items:pastBookings, as:'booking'}
    	<tr>
			<td>${merchants.get(booking.merchantid).name}</td>
			<td>${booking.startdate.format('MMMMM dd, yyyy')}</td>
			<td>${booking.enddate.format('MMMMM dd, yyyy')}</td>
		</tr>
		#{/list}
	</tbody>
	</table>
	#{/else}
</div>
<div id="popup_name" class="popup">
    <h2>Error</h2>
    <p>Feature has yet to be implemented</p>
</div>