<!doctype html>
<html>

	<head>
		<meta charset="utf-8"/>
		<title>Moss Street Market: Overview</title>
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
				<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<![endif]-->
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Copse" type="text/css">
		<link rel="stylesheet" media="all" href="@{'/public/stylesheets/style.css'}"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/ -->

		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
		<script type="text/javascript" src="@{'/public/javascripts/wonderbolts.js'}"></script>

		</head>
		
		
	
<body lang="en">
<header>
	<h1>Moss Street Market</h1>

	<nav><ul>
		<li><a href="index">Overview</a></li>
		<li><a href="vendors">Vendors</a></li>
		<li><a href="bookings" id="active">Bookings</a></li>
		<li><a href="finance">Finance</a></li>
	</ul></nav>
</header>
<div id="main" class="overhidden">
<h2>Book Stall #1 (Produce)</h2>
<a href="" class="button topright">Book Stall</a></p>

<div class="half">

	<h4>Merchant</h4>
	<select>
		<option value="November 5">Heather Macphail</option>
		<option value="November 12">Greg Medhurst</option>
	</select>
	<p><a href="#?w=500" rel="popup_name" class="poplight">Add New Merchant</a></p>

	<h4>Start Date</h4>
		<select>
			<option value="November 5">November 5</option>
			<option value="November 12">November 12</option>
		</select>
		
	<h4>End Date</h4>
		<select>
			<option value="November 5">November 5</option>
			<option value="November 12">November 12</option>
		</select>
	<hr />
	<h4>Last Maintenance Date</h4>
	Dec 18, 2010

	<h4>Next Maintenance Date</h4>
		<select>
			<option value="November 5">November 5</option>
			<option value="November 12">November 12</option>
		</select>
</div>
<div class="second half">

	<h4>Upcoming Bookings</h4>
	<p>None</p>
	<h4>Past Bookings</h4>
	<table summary="Bookings">
    <thead>
    	<tr>
			<th scope="col">Vendor</th>
            <th scope="col">Start Date</th>
             <th scope="col">End Date</th>
       </tr>
    </thead>
    <tbody>
    	<tr>
        	<td>Stephen C. Cox</td>
			<td>November 19, 2011</td>
			<td>November 19, 2011</td>
        </tr>
        <tr>
        	<td>Josephin Tan</td>
			<td>November 19, 2011</td>
			<td>November 19, 2011</td>
        </tr>
        <tr>
        	<td>Joyce Ming</td>
			<td>November 19, 2011</td>
			<td>November 19, 2011</td>
        </tr>
    </tbody>
</table>

</div>
<div id="popup_name" class="popup">
    <h2>Error</h2>
    <p>Feature has yet to be implemented</p>
</div>
</div>
<footer>
	<a href="http://www.wonderbolts.info"><img src="@{'/public/images/wb.png'}" alt="Wonderbolts Development" /></a>
</footer>
	</body>
	
</html>