#{extends 'main.html' /}
#{set title:'Stalls' /}
#{set overhidden:true /}
		
<h2>Book Stall #1 (${cat.name})</h2>
<a href="" class="button topright">Book Stall</a></p>

<div class="half">

	<h4>Merchant</h4>
	<select>
		#{list items:selectableMerchants, as:'merchant'}
		<option value="${merchant.name}">${merchant.name}</option>
		#{/list}
	</select>
	<p><a href="#?w=500" rel="popup_name" class="poplight">Add New Merchant</a></p>

	<h4>Start Date</h4>
		<select disabled="disabled">
			<option value="">${currentDate.format('MMMMM dd, yyyy')}</option>
		</select>
		
	<h4>End Date</h4>
		<select disabled="disabled">
			<option value="">${currentDate.format('MMMMM dd, yyyy')}</option>
		</select>
	<hr />
	<h4>Last Maintenance Date</h4>
	Dec 18, 2010

	<h4>Next Maintenance Date</h4>
		<select disabled="disabled">
			<option value="">${stall.nextmaintenancedate.format('MMMMM dd, yyyy')}</option>
		</select>
</div>
<div class="second half">

	<h4>Upcoming Bookings</h4>
	#{if futureBookings.isEmpty()}
	<p>None</p>
	#{/if}
	#{else}
	<table summary="Bookings">
    <thead>
    	<tr>
			<th scope="col">Vendor</th>
            <th scope="col">Start Date</th>
             <th scope="col">End Date</th>
       </tr>
    </thead>
    <tbody>
		#{list items:futureBookings, as:'booking'}
    	<tr>
			<td>${merchants.get(booking.merchantid).name}</td>
			<td>${booking.startdate.format('MMMMM dd, yyyy')}</td>
			<td>${booking.enddate.format('MMMMM dd, yyyy')}</td>
		</tr>
		#{/list}
	</tbody>
	</table>
	#{/else}
	<h4>Past Bookings</h4>
	#{if pastBookings.isEmpty()}
	<p>None</p>
	#{/if}
	#{else}
	<table summary="Bookings">
    <thead>
    	<tr>
			<th scope="col">Vendor</th>
            <th scope="col">Start Date</th>
             <th scope="col">End Date</th>
       </tr>
    </thead>
    <tbody>
		#{list items:pastBookings, as:'booking'}
    	<tr>
			<td>${merchants.get(booking.merchantid).name}</td>
			<td>${booking.startdate.format('MMMMM dd, yyyy')}</td>
			<td>${booking.enddate.format('MMMMM dd, yyyy')}</td>
		</tr>
		#{/list}
	</tbody>
	</table>
	#{/else}
</div>
<div id="popup_name" class="popup">
    <h2>Error</h2>
    <p>Feature has yet to be implemented</p>
</div>