#{extends 'main.html' /}
#{set title:'Overview' /}
#{set overhidden:true /}
<h2>Create New Category</h2>
#{ifErrors}
	<div id="immediate" class="popup">
		<h2>Ruh roh!</h2>
		<p>You are missing a required field. Please double check your form entry.</p>
	</div>
#{/ifErrors}

#{form @Application.add_category(category_name, category_colour, category_price)}
	<table>
    <tr>
        <td><label for="category_name">New Category: </label></td>
        <td><input type="text" name="category_name" /> </td>
    </tr>
	<tr>
        <td><label for="category_colour">Colour: </label></td>
        <td><input type="text" class="color" name="category_colour" /></td>
    </tr>
	<tr>
        <td><label for="category_price">Price: </label></td>
        <td><input type="text" name="category_price" /></td>
    </tr>
    <tr>
        <td><input type="submit" value="Submit" /></td>
    </tr>
</table>
#{/form}