#{extends 'main.html' /}
#{set title:'Merchants' /}
#{set overhidden:true /}
<h2>Create a New Merchant</h2>
#{ifErrors}
	<div id="immediate" class="popup">
		<h2>Error</h2>
		<p>You haven't filled in the form correctly. Please try again.</p>
		<ul>
		#{ifError 'merchant_name'}
		  <li>
			<em>Name: </em>#{error 'merchant_name' /}
		  </li>
		#{/ifError}
		#{ifError 'merchant_category'}
		  <li>
			<em>Category: </em>#{error 'merchant_category' /}
		  </li>
		#{/ifError}
		#{ifError 'merchant_addr1'}
		  <li>
			<em>Address Line 1: </em>#{error 'category_price' /}
		  </li>
		#{/ifError}
		#{ifError 'merchant_city'}
		  <li>
			<em>City: </em>#{error 'merchant_city' /}
		  </li>
		#{/ifError}
		#{ifError 'merchant_province'}
		  <li>
			<em>Province: </em>#{error 'merchant_province' /}
		  </li>
		#{/ifError}
		#{ifError 'merchant_postal'}
		  <li>
			<em>Postal Code: </em>#{error 'merchant_postal' /}
		  </li>
		#{/ifError}
		#{ifError 'merchant_email'}
		  <li>
			<em>Email: </em>#{error 'merchant_email' /}
		  </li>
		#{/ifError}
		#{ifError 'merchant_telephone'}
		  <li>
			<em>Telephone: </em>#{error 'merchant_telephone' /}
		  </li>
		#{/ifError}
		</ul>
	</div>
#{/ifErrors}

#{form @Application.add_merchant(merchant_name, merchant_category, merchant_addr1, merchant_addr2, merchant_city, merchant_province, merchant_postal, merchant_email, merchant_telephone)}
<table>
    <tr>
        <td><label>New Merchant Name: </label></td>
        <td><input type="text" name="merchant_name" id="mname" /> </td>
    </tr>
    <tr>
        <td><label for="cGory">Category: </label></td>
        <td>
	    <select name="merchant_category" id="cGory">
	    #{list items:allCategories, as: 'category'}
			<option value="${category.value.id}">${category.value.name}</option>
	    #{/list}
	    </select>
	</td>
    </tr>
    <tr>
        <td><label for="aLine1">Address Line 1: </label></td>
        <td><input type="text" name="merchant_addr1" id="aLine1" /></td>
    </tr>
    <tr>
        <td><label for="aLine2">Address Line 2: </label></td>
        <td><input type="text" name="merchant_addr2" id="aLine2" /></td>
    </tr>
    <tr>
        <td><label for="city">City: </label></td>
        <td><input type="text" name="merchant_city" id="city" /></td>
    </tr>
    <tr>
        <td><label for="prov">Province: </label></td>
        <td>
		<select name="merchant_province" id="prov">
			<option value="AB">AB</option>
			<option value="BC">BC</option>
			<option value="MB">MB</option>
			<option value="NB">NB</option>
			<option value="NL">NL</option>
			<option value="NS">NS</option>
			<option value="NT">NT</option>
			<option value="NU">NU</option>
			<option value="ON">ON</option>
			<option value="PE">PE</option>
			<option value="QC">QC</option>
			<option value="SK">SK</option>
			<option value="YT">YT</option>
	    </select></td>
    </tr>
    <tr>
        <td><label for="pCode">Postal Code: </label></td>
        <td><input type="text" name="merchant_postal" id="pCode" /></td>
    </tr>
    <tr>
        <td><label for="eml">E-mail: </label></td>
        <td><input type="text" name="merchant_email" id="eml" /></td>
    </tr>
    <tr>
        <td><label for="tele">Telephone: </label></td>
        <td><input type="text" name="merchant_telephone" id="tele" /></td>
    </tr>
    <tr>
        <td><input type="submit" value="Submit" /></td>
    </tr>
</table>
#{/form}