#{extends 'main.html' /}
#{set title:'Finance' /}
<a href="javascript:window.print()" class="button topright">Print</a>
<hgroup>
	<h2>Finances for</h2>
	#{datedropdown dates:dateRange, selectDate:dateString,url:"/finance"/}
</hgroup>
<table summary="Invoices">
    <thead>
    	<tr>
        	<th scope="col">Merchant</th>
            <th scope="col" class="thin">Amount (CAD)</th>
        </tr>
    </thead>
    <tbody>
	#{list items:currentBookings, as:'booking'}
    	<tr>
        	<td>${merchants.get(booking.value.merchantid).name}</td>
            <td>$${booking.value.price}</td>
        </tr>
	#{/list}
	#{else}
    	<tr>
        	<td colspan="2">There are no stalls booked for the current week.</td>
        </tr>
	#{/else}
    </tbody>
	<tfoot>
		<tr>
			<td>Total (For Week)</td>
			<td>$${bookingTotal}</td>
		</tr>
	</tfoot>
</table>
