#{extends 'main.html' /}
#{set title:'Finance' /}
<hgroup>
	<h2>Finances for</h2>
	<select>
		<option value="November 5">November 5</option>
		<option value="November 12">November 12</option>
	</select>
</hgroup>
<table summary="Invoices">
    <thead>
    	<tr>
        	<th scope="col">Merchant</th>
            <th scope="col" class="thin">Amount (CAD)</th>
        </tr>
    </thead>
    <tbody>
	#{list items:currentBookingList, as:'booking'}
    	<tr>
        	<td>${merchants.get(booking.merchantid).name}</td>
            <td>$${allCategories.get(allStalls.get(booking.stallnumber).categoryid).price}</td>
        </tr>
	#{/list}
    </tbody>
</table>