#{extends 'main.html' /}
#{set title:'Finance' /}
<hgroup>
	<h2>Finances for</h2>
	<select>
		<option value="November 5">November 5</option>
		<option value="November 12">November 12</option>
	</select>
</hgroup>
	<h3>Unpaid Invoices</h3>
<table summary="Unpaid Invoices">
    <thead>
    	<tr>
        	<th scope="col">Vendor</th>
            <th scope="col" class="thin">Amount (CAD)</th>
        </tr>
    </thead>
    <tbody>
    	<tr>
        	<td>Stephen C. Cox</td>
            <td>$300</td>
        </tr>
        <tr>
        	<td>Josephin Tan</td>
            <td>$150</td>
        </tr>
        <tr>
        	<td>Joyce Ming</td>
            <td>$200</td>
        </tr>
        <tr>
        	<td>James A. Pentel</td>
            <td>$175</td>
        </tr>
    </tbody>
</table>