#{extends 'main.html' /}
#{set title:'Overview' /}

	<hgroup>
	<h2>Overview for</h2>
	</hgroup>
	Debug: ${currentBookings.get(1)}
	<table id="overview"> 
		<tr> 
			#{list items:1..4, as:'i'}
				#{stallTile stall:allStalls.get(i), booking:currentBookings.get(i), categories:allCategories, merchants:merchants, dates:dateRange /} 
			#{/list}
			<td rowspan="6" class="road">&nbsp;</td> 
			#{list items:5..8, as:'i'}
				#{stallTile stall:allStalls.get(i), booking:currentBookings.get(i), categories:allCategories, merchants:merchants, dates:dateRange /} 
			#{/list}
		<tr>
			<td colspan="9" class="road">&nbsp;</td>
		</tr>
		<tr>  
			#{list items:9..16, as:'i'}
				#{stallTile stall:allStalls.get(i), booking:currentBookings.get(i), categories:allCategories, merchants:merchants, dates:dateRange /} 
			#{/list}
		</tr>
		<tr>  
			#{list items:17..24, as:'i'}
				#{stallTile stall:allStalls.get(i), booking:currentBookings.get(i), categories:allCategories, merchants:merchants, dates:dateRange /} 
			#{/list}
		</tr>
		<tr>
			<td colspan="9" class="road">&nbsp;</td>
		</tr>
		<tr> 
			#{list items:25..32, as:'i'}
				#{stallTile stall:allStalls.get(i), booking:currentBookings.get(i), categories:allCategories, merchants:merchants, dates:dateRange /} 
			#{/list}
        </tr>
</table> 

<div id="legend">
<h3>LEGEND</h3>
#{list items:allCategories, as:'cat'}
	<span><div style="background-color: #${Integer.toHexString(cat.value.colour)}"></div> ${cat.value.name}</span>
#{/list}
</div>