#{extends 'main.html' /}
#{set title:'Merchants' /}
#{set overhidden:true /}

<a href="" class="button">Add New Merchant</a>
<div id="sidebar">
<form action="/search" method="get" id="search">
			<input type="text" name="q" class="search-box" value=""/>
			<input type="image" src="@{'/public/images/search.png'}" class="search-input" value="Search"/>
		</form>
	<ul>
	#{list items:allMerchants, as: 'merchant'}
		<li><a href="#" class="merchantlink" rel="${merchant.id}">${merchant.name}</a></li>
	#{/list}
	</ul>
</div>
#{list items:allMerchants, as: 'merchant'}
	<div class="merchant" id="${merchant.id}">
	<hgroup>
		<h2>${merchant.name}</h2>
		<a href="edit_merchant" class="button">Edit</a>
	</hgroup>
	<p>
	${merchant.address}</p>
	<p>
	${merchant.phonenumber}</p>
	<h3>Current Balance</h3>
	<table>
		<thead>
			<tr>
				<th scope="col">Qty</th>
				<th scope="col">Type</th>
				<th scope="col" class="thin">Subtotal (CAD)</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>2</td>
				<td>Produce ($150)</td>
				<td>$300</td>
			</tr>
			<tr>
				<td>1</td>
				<td>Produce ($150)</td>
				<td>$150</td>
			</tr>
		</tbody>
	</table>
	<h3>Booking History</h3>
	<table>
		<thead>
			<tr>
				<th scope="col">Date</th>
				<th scope="col" class="thin">Stall</th>
				<th scope="col">Type</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>November 5 &ndash; 12</td>
				<td>1</td>
				<td>Produce</td>
			</tr>
			<tr>
				<td>October 29</td>
				<td>10</td>
				<td>Produce</td>
			</tr>
		</tbody>
	</table>
	</div>
#{/list}