#{extends 'main.html' /}
#{set title:'Stalls' /}
<hgroup>
	<h2>Stall History for</h2>
	#{datedropdown dates:dateRange, selectDate:currentDate/}
	<a href="" class="button">Add New Booking</a>
</hgroup>
<table summary="Bookings">
    <thead>
    	<tr>
             <th scope="col">Stall #</th>
			<th scope="col">Category</th>
			<th scope="col">Vendor</th>
            <th scope="col">Start Date</th>
             <th scope="col">End Date</th>
             <th scope="col"></th>
       </tr>
    </thead>
    <tbody>
		#{list items:currentBookings, as:'booking'}
			<tr>
				<td>${booking.value.stallnumber}</td>
				<td>${allCategories.get(allStalls.get(booking.value.stallnumber).categoryid).name}</td>
				<td>${merchants.get(booking.value.merchantid).name}</td>
				<td>${booking.value.startdate.format('MMMMM dd, yyyy')}</td>
				<td>${booking.value.enddate.format('MMMMM dd, yyyy')}</td>
				<td><a href="/edit/" class="button">Edit</a></td>
			</tr>
		#{/list}
    </tbody>
</table>