#{extends 'main.html' /}
#{set title:'Stalls' /}
<a href="javascript:window.print()" class="button topright">Print</a>

<hgroup>
	<h2>Stalls on</h2>
	#{datedropdown dates:dateRange, selectDate:dateString,url:"/stalls"/}
</hgroup>
<table summary="Bookings">
    <thead>
    	<tr>
             <th scope="col">Stall #</th>
			<th scope="col">Category</th>
			<th scope="col">Vendor</th>
            <th scope="col">Start Date</th>
             <th scope="col">End Date</th>
             <th scope="col"></th>
       </tr>
    </thead>
    <tbody>
		#{list items:allStalls, as:'stall'}
			<tr>
				<td>${stall.key}</td>
					<td>${allCategories.get(stall.value.categoryid).name}</td>
				#{if currentBookings.get(stall.key)}
					<td>${merchants.get(currentBookings.get(stall.key).merchantid).name}</td>
					<td>${currentBookings.get(stall.key).startdate.format('MMMMM dd, yyyy')}</td>
					<td>${currentBookings.get(stall.key).enddate.format('MMMMM dd, yyyy')}</td>
				#{/if}
				#{else}
					<td colspan="3"></td>
				#{/else}
				<td><a href="@{Application.view_stall}/${stall.key}" class="button">View Stall</a></td>
			</tr>
		#{/list}
		#{else}
			<tr>
				<td colspan="6">There are no stalls booked for the current week.</td>
			</tr>
		#{/else}
    </tbody>
</table>