#{extends 'main.html' /}
#{set title:'Stalls' /}
<hgroup>
	<h2>Stall History for</h2>
	#{datedropdown dates:dateRange, selectDate:currentDate/}
	<a href="" class="button">Add New Booking</a>
</hgroup>
<table summary="Bookings">
    <thead>
    	<tr>
             <th scope="col">Stall #</th>
			<th scope="col">Vendor</th>
            <th scope="col">Start Date</th>
             <th scope="col">End Date</th>
       </tr>
    </thead>
    <tbody>
    	<tr>
         	<td>1</td>
        	<td>Stephen C. Cox</td>
			<td>November 19, 2011</td>
			<td>November 19, 2011</td>
        </tr>
        <tr>
        	<td>2</td>
        	<td>Josephin Tan</td>
			<td>November 19, 2011</td>
			<td>November 19, 2011</td>
        </tr>
        <tr>
        	<td>3</td>
        	<td>Joyce Ming</td>
			<td>November 19, 2011</td>
			<td>November 19, 2011</td>
        </tr>
        <tr>
        	<td>4</td>
        	<td>James A. Pentel</td>
			<td>November 19, 2011</td>
			<td>November 19, 2011</td>
        </tr>
    </tbody>
</table>